# .gitignore
__pycache__/
*.pyc
.env
.vscode/
*.ipynb_checkpoints
# Ignore contents, but keep folders via .gitkeep
data/replays/*
!data/replays/.gitkeep

data/processed/*
!data/processed/.gitkeep

models/*
!models/.gitkeep

outputs/*
!outputs/.gitkeep

outputs/heatmaps/*
!outputs/heatmaps/.gitkeep
.venv/
